<style>
  .ftr {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 9pt;
    color: #111;
    text-align: center;
    padding: 6px 12mm 4px 12mm;
    box-sizing: border-box;
  }
  .ftr a {
    color: #0563c1;
    text-decoration: underline;
  }
  .ftr .line {
    margin: 2px 0;
  }
</style>
<div class='ftr'>
  <div class='line'>
    <a href='https://www.mda.energy'>www.mda.energy</a>
  </div>
  <div class='line'>
    Adresa: Xheladin Hana, A17, H1, #4, Prishtinë, Kosovë 10000
  </div>
  <div class='line'>
    Telefon: +383 45 999 910 | Email: info@mda.al
  </div>
</div>